
$grey: #C6C1BF;
$grey_dark: #77706B;

body{

}
.artikel{
  width: 200px;
  display: inline-block;
  color: grey;
}
.Fabrique_logo{
  color: $grey_dark;
  font-size: 30px;
  margin-bottom: 190px;
}
h1{
  //color: yellow;
}

img {
  width: 200px;
  height: auto;
}
